.WeatherToday {
    position: absolute;
    color: white;
    text-align: right;
    width: 600px;
    height: 400px;
    margin-top: 100px;
    margin-left:-110px;
    font-size: 34px;
    opacity: 85%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.degree {
    margin-top: 100px;
    margin-left: 500px;
    position: absolute;
    color: white;
    opacity: 85%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;


}
.celsius {
    font-size: 14px;
}

a:hover{
    color: rgb(2, 24, 25);
    transition: 0.2;
}

a:visited {
    color: aqua;
}
.separationBar {
    font-size: 20px;
}
.fahrenheit {
    font-size: 14px;
}

.icon {
        position: absolute;
        color: white;
        text-align: right;
        margin-top: 80px;
        margin-left: 360px;
}

.humidity {
    position: absolute;
    color: white;
    text-align: right;
    width: 600px;
    height: 400px;
    margin-top: 177px;
    margin-left: -137px;
    font-size: 14px;
    opacity: 85%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.wind {
    position: absolute;
    color: white;
    text-align: right;
    width: 600px;
    height: 400px;
    margin-top: 197px;
    margin-left: -137px;
    font-size: 14px;
    opacity: 85%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.rainProb {
    position: absolute;
    color: white;
    text-align: right;
    width: 600px;
    height: 400px;
    margin-top: 217px;
    margin-left: -90px;
    font-size: 14px;
    opacity: 85%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}